apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: slow                                   #-------------SC的名字
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://172.30.172.113:8080"        #-------------heketi service的cluster ip 和端口
  restuser: "admin"                            #-------------随便填，因为没有启用鉴权模式
#  volumetype: "none"                           #-------------单卷模式
